<ul ng-hide="numberOfPages() < 2 || (catalog.products|filter:catalog.searchQuery).length <= catalog.productsPerPage || numberOfVisibleProducts() === 0" class="pagination">
	<li class="step back" ng-class="{disabled: catalog.currentPage == 0}"><a href="#" ng-click="paginate($event, catalog.currentPage - 1)">&laquo;</a></li>
	<li ng-class="{active: catalog.currentPage == $index}" ng-repeat="i in getNumberOfFilteredResults((catalog.products|filter:catalog.searchQuery).length/catalog.productsPerPage) track by $index"><a href="#" ng-click="paginate($event, $index)">{{$index+1}} <span class="sr-only">(current)</span></a></li>
	<li class="step forward" ng-class="{disabled: catalog.currentPage >= numberOfPages() - 1}"><a href="#" ng-click="paginate($event, catalog.currentPage + 1)">&raquo;</a></li>
</ul>
